// ----------------------------------------
// Hero Image
// ----------------------------------------

.hero-image {
  position: relative;

  background-image: image('home/m-hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: calc(100vh - 64px - 48px);
  min-height: 368px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  color: $font-white;

  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-image:after {
  font-family: 'boxicons';
  content: "\ea53";
  position: absolute;
  bottom: 16px;
  font-size: 32px;
  color: $font-white-60;
}

.hero-image__welcome {
  margin: 0 0 1rem;
  @include title(1.125rem, 400, none);

}

.hero-image__title {
  margin-top: 0;
  margin-bottom: 1rem;
  @include title(1.5rem);
}

.hero-image-profession {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 2rem;
  color: $font-white-60;
}

.hero-image__button {
  margin-bottom: 1.5rem;
}

@include for-size('small-tablet-up') {
  .hero-image {
    background-image: image('home/t-hero-image.jpg');
  }

  .hero-image__welcome {
    font-size: 1.5rem;
  }

  .hero-image__title {
    font-size: 2rem;
  }

  .hero-image-profession {
    font-size: 1.125rem;
    max-width: 340px;
  }
}

@include for-size('desktop-up') {
  .hero-image {
    background-image: image('home/d-hero-image.jpg');
    height: calc(100vh - 80px);
    min-height: 637px;
  }
}

// ----------------------------------------
// Services
// ----------------------------------------

.services {
  background: $background-milk-white;
}

.services__title {
  @include title;
  text-align: center;
  margin-bottom: 1rem;
}

.services__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.services__button-list {
  display: flex;
  justify-content: space-between;
}

.services__button {
  @include title(1.5rem, 700, none);
  line-height: 1.6em;
  background: none;
  border: none;
}

.services__subtitle {
  @include title(1.5rem, 700, none);
  @include sr-only;
}

.services__subtitle:after, .services__button:after {
  content: '';
  height: 4px;
  width: 32px;
  background: $font-black;
  display: block;
  transition: width 300ms;
}

.services__button.swiper-button-disabled {
  color: $font-black;

  &:after {
    background: $font-black;
  }
}

.services__button {
  color: $font-black-60;

  &:after {
    background: $font-black-60;
  }
}

.services__image {
  width: 100%;
  height: 192px;
  margin-bottom: 1rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services__image--design {
  background-image: image('home/service-design.svg');
}

.services__image--develop {
  background-image: image('home/service-develop.svg');
}

.services__text--bold {
  font-weight: 700;
}

.services__link {
  text-align: right;
  margin-bottom: 0;
  padding-top: 1rem;
}

@include for-size('small-tablet-up') {
  .services__button {
    display: none;
  }

  .services__subtitle {
    position: static;
    width: auto;
    height: auto;
  }

  .services .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .services__pagination {
    display: none;
  }

  .services__list {
    justify-content: space-around;
  }

  .services__item {
    flex-shrink: 1;
    max-width: 288px;

    &:first-of-type {
      margin-right: 1.5rem;
    }
  }

  .services__link {
    text-align: center;
  }
}

// ----------------------------------------
// About
// ----------------------------------------

.about {
  background: $brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-white;
}

.about__title {
  @include sr-only;
}

.about__image-container {
  text-align: center;
  margin-bottom: 1rem;
}

.about__image {
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
}

.about__subtitle {
  @include title(1.5rem, 400, none);
  margin-bottom: 1rem;
}

.about__text {
  color: $font-white-60;
  margin-bottom: 1rem;
}

.about__link {
  text-align: right;
  margin-bottom: 0;
  padding-top: 1rem;
}

@include for-size(small-tablet-up) {
  .about .container {
    max-width: 650px;
  }

  .about__container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    & > * {
      width: 100%;
    }
  }

  .about__text {
    margin-top: 0;
  }

  .about__link {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
  }

  .about .button-link {
    font-weight: 700;
  }
}