.button {
  padding: 14px 24px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.6em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms, color 300ms;

  @include on-event {
    background-color: $green;
    color: $font-white;
  }
}

.button--shadow {
  box-shadow: 0px 8px 24px rgba(#000000, 0.15);
}

.button--white {
  background-color: $background-white;
  color: $font-black;
}

.button--blue {
  background-color: $blue;
  color: $font-white;
}

.button-link {
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 300ms;
}

.button-link__text {
  text-align: right;
  text-decoration: underline;
}

.button-link__icon {
  font-size: 1.2em;
}

.button-link--black {
  color: $font-black;
}

.button-link--white {
  color: $font-white;
}