.skip__link {
  padding: 8px;
  position: absolute;
  top: -46px;
  left: 0;
  color: white;
  border-bottom-right-radius: 3px;
  background: map-get($utility-color, 'information');
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;

  @include on-event {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    outline-color: transparent;
    -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
  }
}