html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  line-height: 1.6em;
}

a {
  transition: color 300ms;

  @include on-event {
    color: $green;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  border-radius: 1px;
  background: $blue;
}